<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Whatsapp</h2>

    <% for(let chat of chats){ %>
        
    <div class="chat">
        <p> From : <%= chat.from %></p>
        <div class="msg">
        <p> To : <%= chat.to %></p>
        </div>
        <p> Message : <%= chat.msg %></p>
        <hr>
    </div>
<% } %>
</body>
</html>